# Local development defaults
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=dev-secret-key-change-me
DATABASE=database/database.db
WHATSAPP_NUMBER=212622135964
FACEBOOK_URL=https://www.facebook.com/
INSTAGRAM_URL=https://www.instagram.com/
SHOP_NAME=MERCA FRUIT SEC
SHOP_ADDRESS=Doha Avenue Moulay Youssef, Salé, face École Nassiri
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=scrypt:32768:8:1$tOkslVI0arzjL5VK$da507261d6dc96d694948da7bba9e639d7a301036e5ddb5e6cae39eabe69833f2b978405003f4f42cece1f49b2becb1a24ea1bf0e5d10116acf2c178a1719cf3
